/* base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: inherit;
  font-size: inherit;
}

body {
  line-height: 1.6;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);
  /* min-height: 100vh; */
}
/* end base */

/* root */
:root {
  --color-main: #5aa5b9;
  --color-main-light: #e6faff;
  --color-sub: #3f4156;
  --color-sub-light: #51546e;
  --color-sub-lighter: #ededfd;
  --color-text: #737373;
  --color-gray: #8b8b8b;
  --color-light: #e5e7eb;
  --color-light-gray: #767676;
  --color-bg: #f8fafd;
  --color-white: #fffefd;
  --color-white-light: #f3f3f3;
  --color-success: #359e64;
  --color-success-bg: #def8e8;
  --color-error: #fc4b0b;
  --color-error-bg: #fff2ee;
  --font-base: "Poppins", arial, helvetica, "Segoe UI", roboto, ubuntu,
    sans-serif;
  --font-monospace: "Fira Code", "Courier New", courier, monospace;
  --font-regular: 300;
  --font-medium: 500;
  --font-bold: 700;
  --generic-shadow: 1px 1px 5px #00000010;
  --generic-transition: all 0.3s ease-in-out;
}
/* end root */

/* form input */
.form {
  display: block;
}

.form__label,
.form__field > label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-text);
}

input.input[type="text"],
input.input[type="email"],
input.input[type="password"],
input.input[type="number"],
select.input,
textarea.input {
  min-width: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid #e5e7eb;
  transition: all 0.3s ease-in-out;
  background-color: #f8fafd;
}

/* register */

/* @media screen and (min-width: 650px) {
  .auth > .card {
    padding: 5rem 8rem;
    width: 95%;
    max-width: 65rem;
  }
} */
.auth {
  width: 100%;
  position: relative;
  z-index: 1;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth::after {
  z-index: -1;
  opacity: 0.1;
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../images/pattern.jpg);
}

.auth > .card {
  width: 95%;
  max-width: 65rem;
  /* margin: 0 300px; */
  padding:100px;
}

.auth__header h3 {
  color: var(--color-sub);
  font-weight: 700;
  margin-top: 1rem;
}

.auth__header p {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.auth__form {
  margin: 3rem 0;
}

.auth .auth__form label,
.auth .auth__alternative p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-sub-light);
}

.auth .auth__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0;
}
.auth .auth__actions a {
  text-decoration: underline;
}

.auth .auth__alternative a {
  font-size: 2rem;
  font-weight: 500;
}
.button-register {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 50px;
  border-radius: 5px;
}

/* login */
header#main-navigation {
  display: none;
}
body {
  background-color: #f5f5f5 !important;
}

.login-form {
  width: 400px;
  margin: 7em auto;
  border-radius: 5px;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control,
.login-btn {
  border-radius: 2px;
}
.input-group-prepend .fa {
  font-size: 18px;
}
.login-btn {
  font-size: 15px;
  font-weight: bold;
  min-height: 40px;
}
.social-btn .btn {
  border: none;
  margin: 10px 3px 0;
  opacity: 1;
}
.social-btn .btn:hover {
  opacity: 0.9;
}

.or-seperator {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}

.clearfix {
  text-align: center;
}
