#delete-comment {
    margin-top: 20rem !important;
    text-align: center;
}

#delete-comment p {
    font-size: 2rem;
}

#delete-comment input {
    font-size: 1.5rem;
}

#delete-comment #back-btn {
    font-size: 1.5rem;
    margin-right: 1rem;
}