{% load static %}

<link rel="stylesheet" href="{% static 'reset_pass.css' %}" />

{% block content %}

<!-- Main Section -->

<div class="formWrapper">
  <h2>Password reset</h2>
</br>
  <p>Forgotten your password?

    Enter your email address below, and we’ll email instructions for setting a
    new one.
  </p>
</br>

  <form class="form" method="POST">
    {% csrf_token %} 
    {{form.as_p}}
  </br>
    <input class="btn" type="submit" value="Submit" />
  </form>
</div>

{% endblock content %}
