#main-navigation {
    background-color: #FF4331;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#marked-posts {
    margin: 8rem auto 3rem auto;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    width: 90%;
    max-width: 30rem;
}

#marked-posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#marked-posts li {
    margin: 1rem 0;
}

#marked-posts a {
    display: block;
    padding: 1rem;
    width: 100%;
    text-decoration: none;
    border: 1px solid #ccc;
    color: #1b1b1b;
    font-weight: bold;
}


#marked-posts a:hover, 
#marked-posts a:active {
    background-color: #ccc;
}